.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

form {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 50px 30px 30px; /* Augmentation du padding */
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombre plus marquée */
  backdrop-filter: blur(10px);
  max-width: 500px; /* Augmentation de la largeur */
  width: 100%;
}

p {
  color: white;
}

label {
  color: white;
  text-align: left;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px; /* Légère augmentation */
  border: none;
  border-radius: 5px;
  font-size: 18px; /* Police plus grande */
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
}

input[type="submit"] {
  background: #007BFF;
  color: white;
  border: none;
  padding: 14px; /* Bouton plus grand */
  width: 100%;
  font-size: 20px; /* Texte du bouton plus grand */
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: #0056b3;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 500px) {
  .content {
    height: auto;
    padding: 20px;
  }
}

textarea {
  resize: vertical;
}
