

@keyframes thread {
  0%   { width: 90%; }
  50%  { width: 90%; }
  80%  { width: 0; }
  100% { width: 90%; }
}






.description{
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: justify;

}


.dev{
  font-size: 4vw;
}


.li:hover{
  font-size: 12px;
}




.roller{
  height: 3vw;
  line-height: 4vw;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 8s infinite;
}

@keyframes slide {
  0%{
    top:0;
  }
  12.5%{
    top: -4rem;
  }
  25%{
    top: -8rem;
  }
  37.5%{
    top: -12rem;
  }
  50%{
    top: -16rem;
}
  62.5%{
    top: -20rem;
  }
  75%{
    top: -24rem;
  }
  87.5%{
    top: -28rem;
  }
  100%{
    top: -32rem;
  }


}

.info {
display: flex;
flex-direction : row;
justify-content: space-around;

}

.signature{
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, textarea {
  width: 100%;
  background-color: #e6e6e8;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.en-bas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.contact{
  display: flex;
  flex-direction: column;

}

.social{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}


.en-bas a li{
  list-style-type: none;
  text-decoration: none;

}

.en-bas a {
  text-decoration: none;
}

.en-bas a li:hover{
  color: #afafaf;
  transition: 0.3s ease all;
  font-size: 1.1vw;
}

textarea{
  resize: vertical;
}
