.logo{
  height: 40px;
}

body{
  text-align: center;
  background: url("../img/background.jpg");
  background-size: cover;

}
hr{
  top: 0.8em;
  -webkit-animation: thread 8s infinite;
  -moz-animation:    thread 8s infinite;
  -o-animation:      thread 8s infinite;
  animation:         thread 8s infinite;
}

@keyframes thread {
  0%   { width: 100%; }
  50%  { width: 100%; }
  80%  { width: 0; }
  100% { width: 100%; }
}

.part{
  margin:8%
}

p, h1, h2, h3, h4{
  color: #DDDDDD;
}

h2{
text-decoration: underline
}

h3{
  font-size: 2vw;
}

p{
  font-size: calc(15px + 0.390625vw);
  text-align: justify ;
}



.description{
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: justify;

}

.nom{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 9%  ;
}

span{
  color: #DDDDDD;
  display: flex;
  flex-direction: column;

}

.big{
  font-size: 17vw;
  font-weight: bold;
}
.little{
  font-size: 3vw;
  text-align: right;
}


a li{
  color: #b8b7b7;
  transition: all 0.3s ease;

}


li:hover{
  color: white;
  font-size: 18px;
  text-decoration: underline;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;


}





.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar ul a {
  text-decoration: none;

  margin: 0 10px;
}

footer ul a {
  text-decoration: none;
  margin: 0 10px;
  list-style: none;

}



.navbar ul .left {
  margin-right: auto;
}

.navbar ul li {
  display: inline-block;
}

.li:hover{
  font-size: 12px;
}


.project{
  border: 2px solid #DDDDDD;
  padding: 3vw;
  margin-bottom: 7vw;
}


button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 13px 23px;
  text-align: center;
  transition: all 0.3s ease;
}


button:hover{
  font-size: 20px;
}
